{% extends "admin/admin_base.html" %}
{% from "macros.html" import csrf_input %}
{% block head %}Edit Users{% endblock head %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('static',filename='manage_user.css')}}" />
{% endblock %}



{% block admin_content %}
<div class='container-fluid'>
    <div class='card shadow-sm border-0'>
    <h6 class='py-5 ms-4'><i class="fa-solid fa-user-pen"></i>Edit Users</h6>

    <div class='card-body '>
 
    
    <form  method="POST" class="row g-3">
        <div class="col-md-6">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" name="username" value="{{user.username}}" required>
        </div>

        <div class="col-md-6">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" name="email"  value="{{user.email}}" required>
        </div>

        <div class="col-md-6">
            <label class="form-label">Password <small>(optional)</small></label>
            <input type="password" class="form-control" name="password" >
        </div>

        <div class="col-md-6">
            <label class="form-label">Role</label>
            <select class="form-select" name="role" required>
                <option disabled selected>Select role</option>
                <option value="admin" {%if user.role=='admin'%}selected{% endif%}>Admin</option>
                <option value="user" {% if user.role=='user'%}selected{% endif%}>User</option>
            </select>
        </div>

        <div class="col-md-6">
            <label class="form-label">Status</label>
            <select class="form-select" name="status" required>
                <option disabled selected>Select role</option>
                <option value="1" {% if user.status==1%}selected{%endif%}>Active</option>
                <option value="0" {% if user.status==0%}selected{% endif%}>Inactive</option>
            </select>
        </div>
        
        {{ csrf_input() }}
        <div class="col-12 d-flex justify-content-end gap-2">
              <a href="{{ url_for('manage_user.manage_users') }}"
                 class="btn btn-outline-secondary">
                Cancel
              </a>
              
              <button class="btn btn-primary">
                <i class="fa fa-save me-1"></i>Update User
              </button>
        </div>
</form>
</div>
</div>
</div>

{% endblock admin_content %}