{% extends "base.html" %}
{% from "macros.html" import csrf_input %}

{% block head %}Forget Password{% endblock head %}


{% block main %}
 <div class="container py-5 mt-4">
   <div class="row justify-content-center">
     <div class="col-md-6 mt-5">
       <div class="card">
         <div class="card-body">
           <h6 class="ms-3 mt-2">Forget Password</h6>

             <form  method="POST">
                <div class="card-body">
                   <div class="col-md-12">
                     <label class="form-label">Email</label>
                     <input type="text" class="form-control" name="email"  required>
                   </div>
                   {{ csrf_input() }}
                   <button type="submit"class="btn1 btn btn-primary btn-sm mt-2">Submit</button>
               </div>
           </form>
       </div>
    </div>
  </div>
  </div>
  </div>
        
  {% endblock main %}

