{% extends "base.html" %}
{% from "macros.html" import csrf_input %}
{% block main %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6 mt-5 py-5">

      <div class="card shadow-sm">
        <div class="card-body">

          <h5 class="mb-4">Change Password</h5>

       
          
          
          <form method="POST">
            <div class="mb-3">
              <label>New Password</label>
              <input type="password" name="password" class="form-control" required>
            </div>

            <div class="mb-3">
              <label>Confirm New Password</label>
              <input type="password" name="confirm_password" class="form-control" required>
            </div>
            {{ csrf_input() }}
            <button class="btn btn-primary w-100">
              Change Password
            </button>
          </form>

        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
